
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.flex{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
}

header{
    max-width: 1536px;
    margin: 0 auto;
        padding-inline: 32px;
    padding-block: 12px;
}

header nav{
    width: 100%;
   border-bottom: 1px solid #e5e5e5;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 16px;
   font-family: "Geist", sans-serif;
}

nav .navLogoSec img{
    width: 176px;
    height: 48px;
}
nav a{
    text-decoration: none;
  
      color: #737373;
}
.navDetailSec svg{
    width: 16px;
    height: 16px;
}

nav .navDetailSec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  font-weight: 500;
  font-size: 14px;
  color: #737373;
}

.languageSec{
    gap: 16px !important;
}
.languageSec button{
    border: none;
    background-color: transparent;
     color: #737373;
         border-radius: 3.40282e38px;
  padding: 8px;
     
}

.languageBtn{
    border: 1px solid #e5e5e5;
    padding: 4px 12px;
    border-radius: 3.40282e38px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between
    ;
    gap: 3px;

}
nav .navCartIcon{
    padding: 8px;
    border-radius: 3.40282e38px;

}
nav .navCartIcon svg{
    width: 20px;
    height: 20px;
    color: #0a0a0a;
}

.sponsorBtn{
    padding: 8px 12px;
    gap: 14px;
    background-color: #024d9a
;
  border-radius: 3.40282e38px;

}
.sponsorBtn svg{
    color: #e5e5e5;
}
.sponsorBtn span{
    color: #fafafa;
    font-weight: 700;
}
.donateBtn{
    padding: 8px 12px;
    gap: 14px;
    background-color: #61bb46
;
  border-radius: 3.40282e38px;

}
.donateBtn svg{
    color: #e5e5e5;
    fill: currentColor;
}
.donateBtn span{
    color: #fafafa;
    font-weight: 700;
}

.navLinkSec{
    display: flex;
    align-items: center;
    justify-content: center;
 padding-top: 12px;
}
.navLinkSec ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    list-style-type: none;
   
}

.navLinkSec ul li{
    padding: 8px 16px;
    font-weight: 500;
    font-size: 14px;
     color: #737373;
}

.navLinkSec ul li svg{
width: 12px;
height: 12px;
     color: #737373;
}

main{
    width: 100%;


  border-top:1px solid  #F1F2F1;
  background-color: #F9FDF8;
}
main section{
    width: 100%;
     max-width: 80rem;
  margin: 0px auto;
   
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 32px;
    padding: 40px 0px;

}

main section .mLeft .mainTopText{
  color: #61bb46;
  font-size: 14px;
  
  font-weight: 600;
  width: 280px;
  padding: 8px 16px ;
  border-radius: 3.40282e38px;
  margin-bottom: 12px;
  background-color: #EBF7E7;
}

main section .mLeft h1{
    font-size: 72px;
    font-weight:800;
    
    color: #0a0a0a
    
    
;
margin: 22px 0px;
line-height: 78px;
position: relative;
}

main section .mLeft h1 svg{
    position: absolute;
        left: 100px;
    top: 198px;
  
}
main section .mLeft h1 span{
color: #61BB46;
  
}

.mainPara{
    font-size: 18px;
    color: #737373
;


margin-bottom: 20px;
}
.mainPara p{
    padding-right: 64px;
    width: 640px;
height: 130px;
}

.mainBtn a{
    padding: 16px 40px;
    border-radius: 3.40282e38px;
    font-weight: 700;
    font-size: 18px;
    margin: 12px 8px;
    
    text-decoration: none;
}
.mainBtn .mdonateBtn{
    text-transform: uppercase;
    background-color: #49A12E;
    color: #fff;

}
.mainBtn .learnBtn{
    border: 1px solid #E5E5E5;
    color: #49A12E;

    background-color: #fff;
}
.mRight{
    width: 100%;
    height: 480px;
}
.mRight .bgImg{
    background-image: url(./images/hero-carousel-img-1.webp);
    background-position: center;    
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
position: relative;
     border-radius:40px;
}

.mRight .bgImg .imgCard{
    padding: 24px;
    position: absolute;
    background-color: #F3EEEC;
    width: 520px;
        left: 44px;
    right: 44px;
    bottom: 18px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.mRight .bgImg .imgCard .imgCardIcon{
    background-color: #61bb46;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mRight .bgImg .imgCard .imgCardIcon svg{
    color: #fff;
    
    width: 32px;
    height: 32px;

}
.mRight .bgImg .imgCard h1{
color: #61bb46;
font-size: 34px;
font-weight: 800;
}
.mRight .bgImg .imgCard p:first-child{
    color: #0A0A0A;
    margin-top: 4px;
    font-weight: 700;
}
.mRight .bgImg .imgCard p:last-child{
    color:#737373 ;
 font-size: 14px;
    font-weight: 600;
}

.liveAppeals{
    max-width: 96rem;
    margin: 0 auto;
    padding: 64px 16px;
}

.liveAppeals .topText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}
.liveAppeals .topText div:first-child{
    padding: 4px 16px;
    margin-bottom: 12px;
    font-size: 14px;
  color: #61bb46cc;
  background-color: #d0fae5
;
font-weight: 700;
border-radius: 16px;

}

.liveAppeals .topText h1{
 color: #000;
  margin-bottom: 8px;
 font-size: 48px;
}
.liveAppeals .topText h1 span{
    color: #61bb46
;
}

.liveAppeals .topText  p{
    text-align: center;
    font-size: 18px;
    color: #6a7282;
}


.appealCards{
    display: flex;
     align-items: center;
     justify-content: center;
     gap: 8px;
}

.appealCards .card{
    width: 335px;
    height: 425px;
    margin-left: 16px;
}
.appealCards .card .cardImg{
    width: 100%;
    margin-bottom: 24px;
    height: 280px;
    position: relative;
   
}

.appealCards .card .cardImg img{
    height: 100%;
    width: 100%;
     border-radius: 24px;


}
.appealCards .card .cardImg svg{

 width: 32px;
 height: 32px;
 color: #61bb46
;


}
.appealCards .card .cardImg div{
      background-color: #fff;
      padding: 12px;
      border-radius: 16px;
      width: 56px;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
    position: absolute;
    bottom: 12px;
    left: 12px;


}

.appealCards .card h2{
    font-size: 18px;
    font-weight: 700;
     color: #000;
     margin-bottom: 10px;
}

.appealCards .card p{
    font-size: 14px;
    color: #6a7282
;
margin-bottom: 10px;
}
.appealCards .card a{
    text-decoration: none;
    font-weight: 600;
    color: #61bb46

;
margin-bottom: 10px;
}


.quickDonate{

    padding-block: 64px;

}

.quickDonate .topTextSec{
    max-width: 96rem;
    margin-bottom: 48px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.quickDonate .topTextSec h1{

font-size: 48px;
margin-bottom: 8px;
 color: #000;
 
}
.quickDonate .topTextSec h2{

font-size: 18px;
color: #99a1af;
font-weight: 500;
margin-bottom: 12px;

}
.quickDonate .topTextSec ul{

list-style: none;
display: flex;
align-items: center;
justify-content: space-around;
gap: 16px;
margin-top: 24px;

}
.quickDonate .topTextSec ul li{
    font-weight: 600;
    font-size: 14px;
    padding: 8px 24px;
    color: #000;
}
.quickDonate .topTextSec ul li:first-child{

    color: #fff;
    background-color: #61bb46;
    border-radius: 3.40282e38px;
}

.quickDonate .donateCard{
    max-width: 96rem;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
     
}
.quickDonate .donateCard>div{
    width: 690px;
    height: 390px;
    border-radius: 24px;
       box-shadow: rgba(0, 0, 0, 8) 0px -50px 250px -28px inset;

      position: relative;



}
.quickDonate .donateCard div p.sadqa{
    position: absolute;
    top: 15px;
    right: 30px;
    color: #fff;
    background-color: #00a63e;
      border-radius: 3.40282e38px;
    padding: 6px 16px;

    font-weight: 700;
}



.quickDonate .donateCard div .cardBottom{
  position: absolute;

  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 32px;
  align-items: flex-end;
  bottom: 0;



}
.quickDonate .donateCard div .cardBottom h3{
font-size: 30px;
color: #fff;
font-weight: 700;


}
.quickDonate .donateCard div .cardBottom p{
font-size: 16px;
color:#d1d5dc
;
font-weight: 500;


}
.quickDonate .donateCard div .cardBottom .btn{
font-size: 16px;
color:#fff
;
background-color: #61bb46
;
font-weight: 700;
    border-radius: 3.40282e38px;
padding: 16px 20px;


}
.quickDonate .donateCard img{
       width: 100%;
       height: 100%;
       position: relative;
       z-index: -1;
       
       border-radius: 24px;
}


.quickDonate button {
    margin-top: 64px;
    padding: 4px 16px;
    outline: none;
    border: none;
    margin-inline: auto;
    font-size: 18px;
        border-radius: 3.40282e38px;

        color: #fff;
        font-weight: 600;
    background-color: #61bb46;

}
.quickDonate button  svg{
height: 16px;
width: 16px;

}


.ourImpact{
    width: 100%;
    padding-block: 70px;

     background: linear-gradient(to bottom right, #3D9722, #46BC22, #3D9722);
  
}
.ourImpact>div{
    max-width: 96rem;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    margin: 0px auto;   
}

.ourImpact .topText{
    display: flex;
 gap: 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 64px;
}

.ourImpact .topText h1{
    font-size: 48px;
    font-weight: 700;
    color: #fff;
}
.ourImpact .topText p{
    font-size: 18px;
    font-weight: 500;
    color: #f0fdf4;
}
.ourImpact .bottomText{
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.ourImpact .bottomText a{
    padding: 6px 16px;
    text-decoration: none;
    width: auto;
    font-weight: 600;
    color: #61bb46;
            border-radius: 3.40282e38px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;

}
.ourImpact .bottomText p{
font-size: 24px;
color: #fff;
font-weight: 600;
}
.ourImpact .bottomText a svg{
    width: 16px;
    height: 16px;
    
}


.impactCardSec{
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
}
.impactCardSec .impactCard{
    width: 300px;
    height: 250px;
    background: transparent;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
      border: 2px solid rgba(255, 255, 255, 0.2); 
    border-radius: 24px;
    justify-content: center;
      background-color: rgba(255, 255, 255, 0.1); 
    flex-direction: column;
}


.impactCard div{
    width: 72px;

    background-color: #fff3;

     border-radius: 16px;
margin-bottom: 24px;
  padding: 16px;
    height: 72px;
}
.impactCard div svg{
    width: 40px;
    height: 40px;
       color: #fff;
       
}
.impactCard h1{
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 8px;

}

.impactCard p{
    font-weight: 500;
   color: #f0fdf4;
   text-align: center;
}



.ourInitiatives{
    width: 100%;
   
    padding: 80px 16px;

      background-color: #F9FAFB;
}
.ourInitiatives>div{
    max-width: 96rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ourInitiatives .topText{
    margin-bottom: 12px;
    margin-inline: auto;
    max-width: 48rem;
    display:  flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ourInitiatives .topText div{
      display: inline-block;
  padding: 4px 16px;
  background-color: #E8F5E9;
  color: #4CAF50;
  border-radius: 9999px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.ourInitiatives .topText h1{
      font-size: 48px;
  font-weight: 800;
  color: #111827;
  margin-bottom: 24px;
  text-transform: capitalize;
}

.ourInitiatives .topText h1 span{
    color: #00a63e;
}
.ourInitiatives .topText p{
      color: #6B7280;
  font-size: 18px;
  line-height: 1.625;
  text-align: center;
}

.ourInitiatives .links{
    margin-bottom: 48px;
}
.ourInitiatives .links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
     margin-top: 12px;
    list-style: none;
}

.ourInitiatives .links ul li:first-child {
      background-color: #4CAF50;
        color: white;
}
.ourInitiatives .links ul li{
    

  padding: 12px 32px;
  border-radius: 9999px;
  font-weight: 500;
  font-size: 14px;

 
  background-color: white;
  color: #99a1af;

  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
 


}

.ourInitiatives .imgSec{
    display: flex;
    width: 100%;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
     gap: 24px;
}

.ourInitiatives .imgSec .imgCard{
    position: relative;
    width: 360px;
    height: 250px;
    display: flex;
    align-items: center;
   
    justify-content: center;
    border-radius: 16px;
}
.ourInitiatives .imgSec .imgCard img{
 width: 100%;
 height: 100%;
 border-radius: 16px;
}

.ourInitiatives .imgSec .imgCard div{
    position: absolute;
    bottom: 20px;
  
    padding-inline: 32px;
    font-weight: 700;

    padding-block: 12px;
    font-size: 12px;
    border-radius: 999px;
    background-color: #fff;
    color: #00a63e;
  
   
}